#include "consts.h"

COMPONENT_MAINMENU MENU
BEGIN
    POPUP "&Simulation"
    BEGIN
        MENUITEM STRING_AUTO_STEP_TOGGLE, COMPONENT_AUTO_STEP_TOGGLE
        MENUITEM STRING_UNIQUE_CORNERS_TOGGLE, COMPONENT_UNIQUE_CORNERS_TOGGLE
    END

    POPUP "&Display"
    BEGIN
        MENUITEM STRING_RAINBOW_MODE, COMPONENT_RAINBOW_MODE
    END
END

ICON_ID ICON "icon.ico"